<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
</head>
<body>

<div class="app-layout">

    <aside class="side-menu" id="side-menu">
        <div class="brand">
            <a href="{{ url_for('index') }}">
                <img class="logo" id="main-logo" src="static/logo.png">
                <img class="logo-mini" id="mini-logo" src="static/logo_mini.png" style="display: none;">
            </a>
            <button class="menu-toggle" id="menu-toggle" onclick="toggleSidebar()">◀</button>
        </div>
        <nav class="nav-links" id="nav-links">
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="#" class="active">О Нас</a>
            {% if session.username %}
                <a href="{{ url_for('upload') }}">Загрузить трек</a>
            {% endif %}
        </nav>
    </aside>

    <main class="content-area">
        <div class="header-simple">
            <h1>О нашей команде</h1>
            <div class="header-controls">
                {% if session.username %}
                    <div class="profile-menu">
                        <button class="profile-btn">{{ session.username }}</button>
                        <div class="dropdown">
                            {% if session.role == 'admin' %}
                                <a href="{{ url_for('tickets') }}">Тикеты</a>
                            {% endif %}
                            <a href="{{ url_for('logout') }}">Выйти</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ url_for('login') }}" class="nav-btn-link">Вход</a>
                    <a href="{{ url_for('register') }}" class="nav-btn-link">Регистрация</a>
                {% endif %}
            </div>
        </div>

        <div class="cards-container">

            <div class="music-card">
                <h3>Потапов Р. В.</h3>
                <p>Backend-разработчик (Flask, база данных)</p>
                <p> </p>
                <p><a href="https://github.com/xakypeumy" class="nav-btn-link">Профиль на GitHub</a></p>
            </div>

            <div class="music-card">
                <h3>Хайбуллин А. Т.</h3>
                <p>Frontend-разработчик (HTML, CSS, дизайн)</p>
                <p> </p>
                <p><a href="https://github.com/tyfvute" class="nav-btn-link">Профиль на GitHub</a></p>
            </div>

            <div class="music-card">
                <h3>Маметова И. А.</h3>
                <p>Тестирование и UX</p>
                <p> </p>
                <p><a href="https://github.com/" class="nav-btn-link">Профиль на GitHub</a></p>
            </div>

        </div>
    </main>
    <footer class="bottom-player">
        <button class="player-toggle bottom-toggle" id="player-toggle" onclick="togglePlayer()">▼</button>
        <div class="player-controls-left">
            <button class="nav-btn">⏮</button>
            <button class="play-circle">▶</button>
            <button class="nav-btn">⏭</button>
        </div>

        <div class="player-center-info">
            <div class="track-now">
                    <img id="player-cover" src="{{ url_for('static', filename='logo_mini.png') }}" alt="Current" class="small-img">
                    <div class="text-info">
                        <div id="player-title" class="t-title">Название</div>
                        <div id="player-artist" class="t-sub">Исполнитель</div>
                    </div>
                </div>
            <div class="timeline-wrap">
                <div class="time">0:00</div>
                <div class="bar-bg"><div class="bar-fill"></div></div>
                <div class="time">3:45</div>
            </div>
        </div>

        <div class="player-right-volume">
            <div class="volume-container">
                <span class="vol-icon">🔊</span>
                <div class="volume-slider">
                    <div class="bar-bg"><div class="bar-fill" style="height: 20%;"></div></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>
const tracks = {{ tracks | tojson | safe }};
let currentIndex = -1;
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>