<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>razvlecheniya</title>
        {% if session.username %}
            <a href="{{ url_for('uploads') }}">Загрузить трек</a>
        {% endif %}
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="app-layout">
    <aside class="side-menu">
        <div class="brand">ISPmusic</div>
        <nav class="nav-links">
            <a href="#" class="active">Главная</a>
            <a href="{{ url_for('about') }}">О Нас</a>
        </nav>
    </aside>

    <main class="content-area">
        <div class="header-simple">
            <h1>Твои треки</h1>
            <div>
                {% if session.username %}
                    <span class="user-badge"> {{ session.username }}</span>
                    <a href="{{ url_for('logout') }}" class="nav-btn-link">Выйти</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="nav-btn-link">Вход</a>
                    <a href="{{ url_for('register') }}" class="nav-btn-link">Регистрация</a>
                {% endif %}
            </div>
        </div>

        <div class="cards-container">
            {% for track in tracks %}
                <div class="music-card">
                    <img src="{{ url_for('static', filename='default.png') }}" class="image-box">
                    <h3>{{ track.name }}</h3>
                    <p>{{ tracks.author }}</p>
                </div>
            {% endfor %}
        </div>
    </main>

    <footer class="bottom-player">
        <div class="player-controls-left">
            <button class="nav-btn">⏮</button>
            <button class="play-circle">▶</button>
            <button class="nav-btn">⏭</button>
        </div>

        <div class="player-center-info">
            <div class="track-now">
                <img src="file:///C:/Users/user/Pictures/slungus.png" alt="Current" class="small-img">
                <div class="text-info">
                    <div class="t-title">1 muzika</div>
                    <div class="t-sub">sozdatel1</div>
                </div>
            </div>
            <div class="timeline-wrap">
                <div class="time">0:00</div>
                <div class="bar-bg"><div class="bar-fill"></div></div>
                <div class="time">3:45</div>
            </div>
        </div>

        <div class="player-right-volume">
            <div class="volume-container">
                <span class="vol-icon">🔊</span>
                <div class="volume-slider">
                    <div class="bar-bg"><div class="bar-fill" style="height: 20%;"></div></div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>