<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
</head>
<body>

<div class="app-layout">
    <aside class="side-menu">
        <div class="brand"><a href="{{ url_for('index') }}"><img class="logo" src="static/logo.png"></a></div>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('about') }}">О Нас</a>
            <a href="{{ url_for('user_agreement') }}">Пользовательское соглашение</a>
        </nav>
    </aside>

    <main class="content-area">
        <div class="header-simple">
            <h1>Регистрация</h1>
            <div>
                <a href="{{ url_for('login') }}" class="nav-btn-link">Вход</a>
            </div>
        </div>

        <div class="form-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="POST">
                <input type="text" name="username" placeholder="Имя пользователя" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <input type="email" name="email" placeholder="Адрес Эл. Почты" required>
                <label class="consent-label">
                    <input type="checkbox" name="consent" required>
                    Я согласен с <a href="{{ url_for('user_agreement') }}" target="_blank">Пользовательским соглашением</a>
                </label>
                <button type="submit" class="btn register-btn">Зарегистрироваться</button>
            </form>
        </div>
    </main>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>